<h1>Welcome to Campus Sites!</h1>

<h2>This is the location where you can view the events in the campus</h2>

<ul>
  {{#each event}}
        {{!-- {{#unless devoured}} --}}
        <li>

       <p>Campus Name: {{campus}}</p>
       <p>Event Title: {{title}}</p>
       <p>Date: {{date}}</p>
       <p>Start Time: {{start_time}}</p>
       <p>End Time: {{end_time}}</p>
       <p>Type: {{type}}</p>
       <p>Current Flag: {{current_flag}}</p>

    
    	<form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
				<input type="hidden" name="devoured" value="true">
				<button type="submit">remove</button>
			</form>

    </li>
  {{/each}}
</ul>


<h2>Add a Burger</h2>
<form action="/api/burgers/" method="POST">
    <input type="text" id="burger_name" name="burger_name">
    <input type="radio" name="devoured" value="1" > Devoured!<br>
    <input type="radio" name="devoured" value="0" checked> Not Devoured
  <button type="submit">Add Burger</button>
</form>
